/********************
YOUR STYLES
*******************/

h1 {
    text-transform: uppercase;
    color: blue;
}

.char1,
.char9,
.char15 {
    background: red;
    padding: 10px;
    transform: rotate(15deg);
    display: inline-block;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}